/**
 * @file
 * Adds styling to the #theme-switch button.
 */

/* Define additional CSS variables. */
:root {
  --color--gray-80: hsl(var(--color--gray-hue), var(--color--gray-saturation), 80%);
}

/**
 * Provides a default style for the theme-switch button provided by this module.
 *
 * This element is provided by the olivero_dark_switch_block and may be placed
 * anywhere on the page. While we act like it is a button it is actually a div
 * to avoid weird button styling that was being applied.
 *
 * @see Drupal\olivero_dark_switch\Plugin\Block\OliveroDarkSwitchBlock
 */
#theme-switch {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--tabs-transition-duration);
  background-color: var(--color--gray-90);
  border-color: var(--color--gray-70);
}

#theme-switch:hover {
  background-color: var(--color--gray-80);
}

#theme-switch svg {
  fill: var(--color--primary-50);
}

/* Make the moon show by default */
#theme-switch svg#theme-switch-sun {
  display: none;
}

/* Ensure the hover block edit does not show on this block */
.block-olivero-dark-switch div.contextual {
  display: none;
}
